.myText{

    color: white;

}

#myClock{

    font-size: 10em;

}

ul.footer{
            margin-top:10px;
            text-align:center;
          }

         ul.footer li{
          color:#333;
          display:inline-block;
          }


       #footer{

        bottom: 0px;
        height: 50px;
        left: 0;
        position: absolute;
        right: 0;
       }